<html xmlns:th="https://www.thymeleaf.org">





<div th:fragment="Musicbutton(track)">
    <style>

        .btn {
            margin: 5px;
        }

        .btn-circle {
            width: 50px;
            height: 50px;
            border-radius: 35px;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            font-size: 16px;
            white-space: normal;
        }
    </style>

    <div th:if="${track.isLikes()} == false">
        <form action="/like" method="post">
            <td>
                <span th:text="${track.name}"></span>
            </td>
            <td>
                <audio controls>
                    <source th:src="@{${track.url}}">
                    <input type="hidden" th:value="${track.id}" th:name="id">
                </audio>
            </td>
            <td>
                <button type="submit" class="btn btn-dark btn-circle">Like</button>
            </td>
        </form>
    </div>

    <div th:if="${track.isLikes()} == true">
        <form action="/unlike" method="post">
            <td>
                <span th:text="${track.name}"></span>
            </td>
            <td>
                <audio controls>
                    <source th:src="@{${track.url}}">
                    <input type="hidden" th:value="${track.id}" th:name="id">
                </audio>
            </td>
            <td>
                <button type="submit" class="btn btn-dark btn-circle">Unlike</button>
            </td>
        </form>
    </div>
</div>

