<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="header">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="text-white" href="/">MyCloud</a>
        </h5>
<!--        my-2 my-md-0 mr-md-3-->
        <nav class="site-header sticky-top py-1">
            <a class="p-2 text-white" href="/">Main</a>
            <a class="p-2 text-white" href="/addtrack">AddTrack</a>
            <a class="p-2 text-white" href="/playlists">Playlists</a>
        </nav>
        <div th:if="${#httpServletRequest.remoteUser} == null">
            <a class="btn btn-outline-primary" th:href="@{/login}">Sign up</a>
        </div>
        <div th:if="${#httpServletRequest.remoteUser}">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${#httpServletRequest.remoteUser}"/>
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item p-2 text-white bg-dark" href="/playlists">Playlist</a>
                    <a class="dropdown-item p-2 text-white bg-dark" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>